<div class="inner_page-banner"></div>
<hr>
<!-- Contenedor de menu superior -->
<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn" data-toggle="modal" data-target="#modal" (click)="openModalnew()">Agregar
                Restaurante</button>
        </div>
        <div class="col col-sm-3">
            <select class="form-control">
                <option>Tipo </option>
            </select>
        </div>
    </div>
</div>
<hr>
<!-- Modal para el registro de nuevo restaurante  -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg text-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center" id="titulo">Nuevo Restaurante</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <img src="../../../assets/illustration-restaurant.gif" width="60%" id="img">
                        <div class="card rounded">
                            <div class=" card-body">
                                <div class="container">
                                    <form>
                                        <div class="form-group">
                                            <label for="Nombre">
                                                Nombre Comercial
                                            </label>
                                            <input type="text" class="form-control" id="nombre"
                                                placeholder="Ej: Rodicio">
                                        </div>
                                        <div class="form-group">
                                            <label for="razon">
                                                Razon social
                                            </label>
                                            <input type="text" class="form-control" id="razon"
                                                placeholder="Razon social">
                                        </div>
                                        <div class="form-group">
                                            <label for="departamento">
                                                Tipo Restaurante
                                            </label>
                                            <select class="form-control custom-select" id="tipo">
                                                <option value=1>
                                                    Vegano
                                                </option>
                                                <option value=2>
                                                    Vegetariano
                                                </option>
                                                <option value=3>
                                                    Carnes rojas y Aves
                                                </option>
                                                <option value=4>
                                                    Pescados y Mariscos
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="ciudad">
                                                Ciudad
                                            </label>
                                            <input type="text" class="form-control" id="ciudad"
                                                placeholder="Ej: Barranquilla">
                                        </div>
                                        <div class="form-group">
                                            <label for="apertura">
                                                Hora de apertura
                                            </label>
                                            <input type="text" class="form-control" id="apertura"
                                                placeholder="Ej: 08:30 a.m">
                                        </div>
                                        <div class="form-group">
                                            <label for="cierre">
                                                Hora de cierre
                                            </label>
                                            <input type="text" class="form-control" id="cierre"
                                                placeholder="Ej: 10:00 p.m.">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="form-group align-self-center">
                                <a *ngIf=New class="btn btn-primary" data-toggle="modal" data-target="#modal"
                                    (click)="addRestaurante()">Enviar</a>
                                <a *ngIf=!New class="btn btn-primary" data-toggle="modal" data-target="#modal"
                                    (click)="addRestaurante()">Modificar</a>
                            </div>
                            <div class="form-group">
                                <a *ngIf=!New class="btn btn-primary" data-toggle="modal" data-target="#modal"
                                    (click)="removeRestaurante()">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Conteiner = Contenedor de lista de restaurantes -->
<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 rounded shadow-sm" data-toggle="modal" data-target="#profileModal">
        <img class="mr-3" src="../../../assets/restaurantes.jpg" alt="" width="48" height="48" />
        <div class="lh-100">
            <h6 class="mb-0 lh-100"> Restaurantes Registrados</h6>
            <small> {{restaurantes.length}} </small>
        </div>
    </div>
    <div id="userslist" class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Nombre restaurantes</h6>
        <div id="restItem" class="media text-muted pt-3" *ngFor="let restaurante of restaurantes">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                <rect width="100%" height="100%" fill="#007bff" />
            </svg>
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark item-user"> {{ restaurante.nombre }} </strong>
                    <a class="btn" data-toggle="modal" data-target="#modal"
                        (click)="openModal(restaurante.id)">Modificar</a>
                </div>
                <span class="d-block"> {{ restaurante.razon }} </span>
            </div>
        </div>
    </div>
</main>
