.inner_page-banner {
    text-align: center;
    background: url(../../../assets/newheader.gif) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 250px;
}
.rounded{
    position: relative;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.123);
}
.btn{
    background-color:rgb(224,59,101);
    border: #fff;
    color: #fff;
    font-family: 'Roboto';
    border-radius:3.5rem!important;
    text-transform: uppercase;
}
h1, h2{
    font-family: 'RobotoB';
    font-size: 45px;
    margin-bottom: 5%;
    padding-top: 10%;
}
.card{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.123);

}
label{
    font-family: 'RobotoB';
    font-size: 28px;
    color: black;
    padding: 5px;
}
.form-group{
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
}
::placeholder, select{
    font-family: 'Roboto';
    font-size: larger;
    color: rgba(128, 128, 128, 0.411);
}
#img{
    align-self: center;
}
.custom-modal {
    background-color: rgb(30,30,30);
}
h3{
    color: #fff;
    font-family: 'Cursiva';
    font-size: 50px;
    padding-top: 5%;
}
h4{
    font-family: 'Roboto';
}
#menus{
    padding-bottom: 15px;
}