<div class="container">
    <div class="align-content-center">
        <h1 class="text-center"> Prueba de desarrollo Quileia</h1>
        <p class="text-center">
            Aqui encontraras los mejores restaurantes de la ciudad, clasificados por sus especialidades y los mejores
            menus que te pueden ofrecer.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xl">
        <img id="imgf" src="../assets/home.jpg" alt="">
    </div>
    <div class="col-xl">
        <div class="card rounded">
            <div class="card-body">
                <h2 class="text-center">Menu Principal </h2>
            </div>
            <div class="form-group align-self-center">
                <a class="btn btn-primary" routerLink="Restaurantes">Retaurantes</a>
            </div>
            <div class="form-group align-self-center" id="boton-menu">
                <a class="btn btn-primary" routerLink="Menus">Menus</a>
            </div>
        </div>
    </div>
</div>
